<div class="backgroundssss"></div>

<form class="form-horizontal" style="background: linear-gradient(-90deg, orange, #ea1581)" >
    <!-- Quiz Navn -->
    <div class="form-group">
        <div class="row">
            <label class="col-md-4 control-label" for="textarea">Quiz Name</label>
            <div class="col-md-4">
                <input [(ngModel)]="quiz.QuizName" name="quizName" type="text" placeholder="Type a quiz name" class="form-control input-md"
                    required>
            </div>
        </div>
    </div>

    <!-- Quiz Info -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="textarea">Quiz Info</label>
        <div class="col-md-4">
            <input [(ngModel)]="quiz.QuizInfo" name="quizInfo" type="text" placeholder="Type a quiz description" class="form-control input-md"
                required>
        </div>
    </div>

    <!-- author -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="textarea">Author</label>
        <div class="col-md-4">
            <input [(ngModel)]="quiz.Author" name="Author" type="text" placeholder="Type your name" class="form-control input-md" required>
        </div>
    </div>

    <!-- Basic Dropdown menu -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Category</label>
        <div class="col-md-4">
            <select id="selectbasic" name="selectbasic" class="form-control" [(ngModel)]="selectedCategory">
                <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
        </div>
    </div>

    <div *ngFor="let question of questions; let i=index" [ngStyle]="qStyle(i)">
            <div class="container">
        <div class="row">
            <div class="col-md-12" style="visibility: hidden;"> SPACING </div>
        </div>
        </div>
        <!-- Spørsmål -->

        <div class="container" id="spm">>
        <div class="row">
            <div class="form-group">
                <label class="col-md-4 control-label" for="textarea">Question</label>
                <div class="col-md-3">
                    <textarea [(ngModel)]='question.Question' [name]="genQueName(i)" class="form-control" placeholder="Type a question"></textarea>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-danger" (click)="deleteQuestion(i)">Delete Question</button>
                </div>
            </div>
        </div>
        </div>


        <!-- Svar Alternativ + checkbox -->
        <div *ngFor="let item of getSizeofAlt(question.answers);">
                <div class="container">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-1">
                        <div class="check">
                            <span>
                                <input type="checkbox" class="form-control" [(ngModel)]="question.rightAnswers[item]" [name]="genRightName(i,item)">
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" dnd-sortable-container [sortableData]="question.answers">
                            <input [(ngModel)]='question.answers[item]' [name]="genAnsName(i,item)" class="form-control" type="text" placeholder="Type an answer"
                            dnd-sortable [sortableIndex]="item">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-danger" (click)="deleteAnswer(i,item)">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
        <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn btn-info" (click)="newAnswer(i)">New Answer</button>
        </div>
        </div>
    </div>

    </div>

    <div class="container">
    <div class="row" [ngStyle]="qStyle(questions.length-1)">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn btn-success" (click)='saveQuiz()' style="float: right">Save Quiz</button>
            <button class="btn btn-info" (click)='newQuestion()' style="float: right">New Question</button>
        </div>
    </div>
    </div>


</form>