.transition, input[type=checkbox]:after {
  -moz-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
  -o-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
  -webkit-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
  transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
}

.bgTransition, input[type=checkbox]:before {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

input[type=checkbox] {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type=checkbox]:before, input[type=checkbox]:after {
  content: "";
  position: absolute;
}
input[type=checkbox]:before {
  height: 100%;
}
input[type=checkbox][type=checkbox] {
  border-radius: 30px;
}
input[type=checkbox][type=checkbox]:before {
  width: 100%;
/*   border-radius: 30px; */
  background-color: #d9534f;
  box-shadow: 0 0 0 1px #2c3f52;
}
input[type=checkbox][type=checkbox]:after {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #85ff7a;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
input[type=checkbox][type=checkbox]:checked:after {
  -moz-transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75);
  -webkit-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75);
}
input[type=checkbox][type=checkbox]:checked:before {
  background-color: #15202a;
  box-shadow: 0 0 0 1px #15202a;
}

html {
  background-color: #15202a;
}


input[type=checkbox] {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.check {
  float: right
}

.col-md-4.control-label{
  color:black;
}

.backgroundssss{
  padding-top:160px;
  background: linear-gradient(-90deg, orange, #ea1581)
}

