 

 /* .grid-container {
     display: grid;
    min-height: 700px;
    width: 768px;
}  */


/* .gridcontainer {
    display: grid;
    margin: auto;
    max-width: 990px;
    margin: 0 auto;
    padding-left: 4%;
    padding-right: 4%;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-columns: 25% repeat(3, 1fr 12.5925%) 1fr 25%;
  } */

body{
    background: linear-gradient(-90deg, blue, red)
}
#quiz_startPage_img {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 25%;
    max-width: 700px;
    float: left;
    border-radius: 8px;
    
} 

#quiz_startText h1{
    font-size: 40px;
    color: white;
}

.subtitle {
    font-size: 1.6rem;
    font-style: italic;
      font-weight: 400;
      color: white;
    }

 .numberof{
     font-size: 15px!important;
 }   
#quiz_startText b{
    font-size: 20px;
    color: white;
}

#quiz_startText p{
    font-size: 20px;
    color: white;
    
}

#quiz_startText a{
    font-size: 20px;
    color: white;
    
   
}
#quiz_startText {
    width: 490px;
    padding-top: 10px;
    
}

.float_l {
    float: left;
}
.float_2{
    float: left;
    margin-left: 600px;
    margin-top: 10px;
    font-size: 40px;
}


		/* .grid-container {
            display: grid;
            height: 600px;
            align-content: center;
            grid-template-columns: auto;
            grid-gap: 10px;
            background-color: rgb(255, 255, 255);
            padding: 10px;

		
		}
		.grid-container > div {
		  background-color: rgb(255, 255, 255);
		  text-align: center;
		  padding: 20px 0;
		  font-size: 30px;
		} */