<!-- Header -->

<div id="fh5co-header">
    <header id="fh5co-header-section">
        <div class="container">
            <div class="nav-header">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle">
                    <i></i>
                </a>
                <!--<h1 id="fh5co-logo"><a asp-controller="Home" asp-action="Index"><i class="icon-grin2 padding-left"></i>Kvizzit</a></h1> -->
                <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                    <img src="~/images/Kvizzit-Logo.png" alt="Logo" />
                </a>
                <!-- START #fh5co-menu-wrap -->
                <nav id="fh5co-menu-wrap" role="navigation">
                    <ul class="sf-menu" id="fh5co-primary-menu">
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="CreateQuiz" class="adminView">Create quiz</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Browse" class="fh5co-sub-ddown">Browse</a>
                        </li>
                        
                        <li>
                            <a asp-controller="Home" asp-action="Login" id="btn-login">Log in</a>
                           
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index" id="btn-logout">Log out</a>
                           
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                        </li>
                    </ul>

                </nav>
            </div>
        </div>
    </header>
</div>