﻿<!DOCTYPE html>
<html>
<head>
    <title>Kvizzit</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	
	<link rel ="icon" href ="/images/favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



	<environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
		 <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.counterup.min.js" asp-append-version="true"></script>

    </environment>

	<link rel="stylesheet" href="~/css/animate.css">
	<link rel="stylesheet" href="~/css/icomoon.css">
	<link rel="stylesheet" href="~/css/bootstrap.css">
	<link rel="stylesheet" href="~/css/superfish.css">
	<link rel="stylesheet" href="~/css/flexslider.css">
	<link rel="stylesheet" href="~/css/style.css">
	

</head>

<body>
  
	@Html.Partial("_HeaderPartial")

	<div class="container body-content">
	
		@RenderBody()

		
	</div>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
		<script src=“https://unpkg.com/axios/dist/axios.js“></script>
        <script src=“https://cdn.jsdelivr.net/npm/vue”></script>
    </environment>

	<!-- Scripts -->
	<!-- Latest minor release -->
	<script src="https://cdn.auth0.com/js/lock/11.5/lock.min.js"></script>

	<!-- Latest patch release (recommended for production) -->
	<script src="https://cdn.auth0.com/js/lock/11.5.2/lock.min.js"></script>
	<script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/skel.min.js"></script>
	<script src="~/js/util.js"></script>
	<script src="~/js/site.js"></script>
	<script src="~/js/app.js"></script>
	<script src="~/js/jquery.counterup.js"></script>


	<script src="~/js/modernizr-2.6.2.min.js"></script>
	<script src="~/js/jquery.easing.1.3.js"></script>
	<script src="~/js/jquery.waypoints.min.js"></script>
	<script src="~/js/hoverIntent.js"></script>
	<script src="~/js/superfish.js"></script>
	<script src="~/js/jquery.flexslider-min.js"></script>
	<script src="~/js/main.js"></script>
	


	@RenderSection("Scripts", required: false)

	
</body>
</html>
