<p>{{listFilter}}</p>
<div class="sidenav">
    <a (click)="filter('Animals')">Animals</a>
    <a (click)="filter('Culture')">Culture</a>
    <a (click)="filter('Film/TV')">Film/TV</a>
    <a (click)="filter('Food and drink')">Food and drink</a>
    <a (click)="filter('Geography')">Geography</a>
    <a (click)="filter('History')">History</a>
    <a (click)="filter('Motors')">Motors</a>
    <a (click)="filter('Movies')">Movies</a>
    <a (click)="filter('Music')">Music</a>
    <a (click)="filter('People')">People</a>
    <a (click)="filter('Politics')">Politics</a>
    <a (click)="filter('Religion')">Religion</a>
    <a (click)="filter('Science')">Science</a>
    <a (click)="filter('Signs')">Signs</a>
    <a (click)="filter('Society')">Society</a>
    <a (click)="filter('Sports')">Sports</a>
    <a (click)="filter('Videogames')">Videogames</a>
    <a (click)="filter('Other')">Other</a>
</div>

<div  *ngIf="loading" class="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>

<div class="mainSidebar"  *ngIf="!loading">
    <h1>Explore games</h1>
    <h2>Hello there! Here you can explore a brand new world of exciting, educational and very fun kvizzes! Browse through hundreds of kvizzes created by our very best users. Choose your favorite category and GET STARTED! :)</h2>
    <br>
    



    <table id="TM">
        <tr>
            <th>
                Quiz Name
            </th>
 
            <th>
                Author
            </th>
 
            <th>
                Category
            </th>
 
            <th>
                Date Created
            </th>
        </tr>
      
 
      
            <tr *ngFor="let q of filteredProducts">
                <td>
                    <a (click)="goToQuiz(q.id)">{{q.quizName}}</a>
                </td>
 
                <td>
                    {{q.author}}
                </td>
 
                <td>
                    {{q.category}}
                </td>
 
                <td>
                    {{q.date}}
                </td>
            </tr>
 
    </table>

</div>