@section Scripts {
	<script src="~/ClientApp/dist/inline.bundle.js"></script>
	<script src="~/ClientApp/dist/polyfills.bundle.js"></script>
	<script src="~/ClientApp/dist/styles.bundle.js"></script>
	<script src="~/ClientApp/dist/vendor.bundle.js"></script>
	<script src="~/ClientApp/dist/main.bundle.js"></script>

}
<body style="background: linear-gradient(-90deg, #ff942d, #ffc589);">
<app-root></app-root>

</body>