<body class="subpage">
@section Scripts {
	<script src="~/ClientApp/dist/inline.bundle.js"></script>
	<script src="~/ClientApp/dist/polyfills.bundle.js"></script>
	<script src="~/ClientApp/dist/styles.bundle.js"></script>
	<script src="~/ClientApp/dist/vendor.bundle.js"></script>
	<script src="~/ClientApp/dist/main.bundle.js"></script>
}

<app-root></app-root>


<footer>
			<div id="footer">
				<div class="container">
						<div class="col-md-6">
							<h3 class="section-title">About Us</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
						</div>
						<div class="col-md-6">
							<h3 class="section-title">Our Address</h3>
							<ul class="contact-info">
								<li><i class="icon-map2"></i>198 West 21th Street, Suite 721 New York NY 10016</li>
								<li><i class="icon-phone2"></i>+ 1235 2355 98</li>
								<li><i class="icon-envelope2"></i><a href="#">info@yoursite.com</a></li>
								<li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>
							</ul>
						</div>
						
				</div>
			</div>
		</footer>

</body>

