<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
			   	<li style="background-image: url(images/slide_1.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner desc">
			   					<h2 class="heading-section">Our Awesome Projects</h2>
			   					<p class="fh5co-lead">Designed with <i class="icon-heart3"></i> by the fine folks at <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a></p>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-work-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 text-center project">
						<a href="#" class="grid-project">
							<div class="image"><img src="~/images/project-1.jpg" alt="Project" class="img-responsive"></div>
							<div class="desc">
								<h3>Ohio Building</h3>
								<span>Architecture</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center project">
						<a href="#" class="grid-project">
							<div class="image"><img src="~/images/project-2.jpg" alt="Project" class="img-responsive"></div>
							<div class="desc">
								<h3>Ohio Building</h3>
								<span>Architecture</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center project">
						<a href="#" class="grid-project">
							<div class="image"><img src="~/images/project-3.jpg" alt="Project" class="img-responsive"></div>
							<div class="desc">
								<h3>Ohio Building</h3>
								<span>Architecture</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center project">
						<a href="#" class="grid-project">
							<div class="image"><img src="~/images/project-4.jpg" alt="Project" class="img-responsive"></div>
							<div class="desc">
								<h3>Ohio Building</h3>
								<span>Architecture</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center project">
						<a href="#" class="grid-project">
							<div class="image"><img src="~/images/project-5.jpg" alt="Project" class="img-responsive"></div>
							<div class="desc">
								<h3>Ohio Building</h3>
								<span>Architecture</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center project">
						<a href="#" class="grid-project">
							<div class="image"><img src="~/images/project-6.jpg" alt="Project" class="img-responsive"></div>
							<div class="desc">
								<h3>Ohio Building</h3>
								<span>Architecture</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>