
@model IEnumerable<KvizzIt.Models.QuizModel>

@{
    ViewBag.Title = "Quiz lista";
}

<div id="fh5co-wrapper">
	<div id="fh5co-page">
		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
				<li style="background-image: url(images/bakgrunn3.jpg);" id="loggedIn">
			   	<div class="overlay-gradient"></div>
					<div class="container">
			   			<div class="col-md-5 col-sm-6 col-xs-12 js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<div class="desc">
			   						<h2>Make an account and get started now!</h2>
			   						<p><a asp-controller="Home" asp-action="Login" class="btn btn-primary btn-outline pink" id="btn-login">Register</a></p>
			   					</div>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
				  <!-- <li style="background-image: url(images/bakgrunn.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-5 col-sm-6 col-xs-12 js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<div class="desc">
			   						<h2>Architecture begins where engineering ends.</h2>
			   						<p><a href="#" class="btn btn-primary btn-outline">View Details</a></p>
			   					</div>
			   				</div>
			   			</div>
			   		</div>
			   	</li>-->
			   	<li style="background-image: url(images/bakgrunn2.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-5 col-sm-6 col-xs-12 js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<div class="desc">
			   						<h2>Create your own quiz</h2>
			   						<p><a asp-controller="Home" asp-action="CreateQuiz" class="btn btn-primary btn-outline green">Create</a></p>
			   					</div>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(images/bakgrunn.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-5 col-sm-6 col-xs-12 js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<div class="desc">
			   						<h2>Find your perfect quiz in our library</h2>
			   						<p><a asp-controller="Home" asp-action="Browse" class="btn btn-primary btn-outline blue">Search</a></p>
			   					</div>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>

	<br>
	<br>
	<br>
	
		
		<h1>Newest quizzes</h1>

		<table id="TM">
					<tr>
								<th>
            						@Html.DisplayNameFor(model => model.quizName)
       							</th>

								<th>
            						@Html.DisplayNameFor(model => model.author)
       							</th>

								<th>
            						@Html.DisplayNameFor(model => model.category)
       						    </th>

								<th>
            						@Html.DisplayNameFor(model => model.date)
       						    </th>
					</tr>
					@foreach (var quiz in Model)
					{
					<tr>
							<td>
                						<a asp-action="QuizInfo" asp-route-id="@quiz.Id">@Html.DisplayFor(modelItem => quiz.quizName)</a>
            				</td>
					
							<td>
                						@Html.DisplayFor(modelItem => quiz.author)
            				</td>
					
							<td>
                						@Html.DisplayFor(modelItem => quiz.category)
            				</td>

							<td>
                						@Html.DisplayFor(modelItem => quiz.date)
            				</td>
					</tr>
					}
				
		</table>
		<br>

		
		<h1>This months top quizzes</h1>

		<table id="ATH">
		
					<tr>
							<th>Title</th>
							<th>Author</th>
							<th>Category</th>
							
					</tr>
					<tr>
							<td>Alfreds Futterkiste</td>
							<td>Maria Anders</td>
							<td>Germany</td>
					</tr>
					<tr>
							<td>Berglunds snabbköp</td>
							<td>Christina Berglund</td>
							<td>Sweden</td>
					</tr>
					<tr>
							<td>Centro comercial Moctezuma</td>
							<td>Francisco Chang</td>
							<td>Mexico</td>
					</tr>
				
		</table>
		<br>
		
		

		<h1>All time high</h1>

		<table id="NQ">
					<tr>
							<th>Title</th>
							<th>Author</th>
							<th>Category</th>
							
					</tr>
					<tr>
							<td>Alfreds Futterkiste</td>
							<td>Maria Anders</td>
							<td>Germany</td>
					</tr>
					<tr>
							<td>Berglunds snabbköp</td>
							<td>Christina Berglund</td>
							<td>Sweden</td>
					</tr>
					<tr>
							<td>Centro comercial Moctezuma</td>
							<td>Francisco Chang</td>
							<td>Mexico</td>
					</tr>
				
		</table>
		
	</div>
		<br>
		<br>

		<footer>
			<div id="footer">
				<div class="container">
						<div class="col-md-6">
							<h3 class="section-title">About Us</h3>
							<p> Welcome to the world of KvizzIt! We have a wide aspect of Kvizzes that are made by our very users! Dive into an entertaining platform, that will take you through a large diversity of Kvizzes, for both young and old. KvizzIt is a great way to learn, play and have fun at the same time! Enjoy your stay with us!
</p>
						</div>
						<div class="col-md-6">
							<h3 class="section-title">Our Address</h3>
							<ul class="contact-info">
								<li><i class="icon-map2"></i>Jon Lilletunsvei 9, 4879 Grimstad</li>
								<li><i class="icon-envelope2"></i><a href="#">kvizzit@fun.com</a></li>
								<li><i class="icon-globe2"></i><a href="#">www.kvizzit.com</a></li>
							</ul>
						</div>
						
				</div>
			</div>
		</footer>


		
	








