@model KvizzIt.Models.QuizModel

@{
    ViewBag.Title = "QuizInfo";
}

<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="~/css/quizinfo.css" />
		
</head>
<div style="margin:145px"></div>
<div class="quizinfo">

<div class = "float_1">
	 @Html.Display("imgUrl")
	<img id="quiz_startPage_img" img src="~/images/Insert-Picture.png" title="bildetekst">
</div>	 

<div class="float_l" id="quiz_startText">
	<h1>@Html.Display("quizName")</h1>
	<h3 class="subtitle">Created by: @Html.Display("author")</h3>
	<p>@Html.Display("quizInfo")</p>
	<b>Category: @Html.Display("category")</b>
	<p class="numberof">Number of questions: @Html.Display("questions.Length")
   		<br> Number of times taken: @Html.Display("quizNum")</p>
   	<a asp-action="TakeQuiz" asp-route-id="@Model.Id" class="btn btn-success">Take quiz</a>  
</div>
		
</div>

