


<!-- Three -->
<section id="three" class="wrapper align-center">
	<div class="inner">
		<div class="flex flex-2">

			<article>
			<h1>This months top quizzes</h1>
				<table>
					<tr>
						<th>Title</th>
						<th>Author</th>
						<th colspan="2">Category</th>
					</tr>
					<tr>
						<td>Harry Potter</td>
						<td>Cristina</td>
						<td>Movies</td>
						<td><button>PLAY!</button></td>
					</tr>
					<tr>
						<td>Game of Thrones</td>
						<td>Marta</td>
						<td>Movies</td>
						<td><button>PLAY!</button></td>
					</tr>
				</table>
			</article>

			<article>
			<h1>All time high</h1>
				<table>
					<tr>
						<th>Title</th>
						<th>Author</th>
						<th colspan="2">Category</th>
					</tr>
					<tr>
						<td>Harry Potter</td>
						<td>Cristina</td>
						<td>Movies</td>
						<td><button>PLAY!</button></td>
					</tr>
					<tr>
						<td>Game of Thrones</td>
						<td>Marta</td>
						<td>Movies</td>
						<td><button>PLAY!</button></td>
					</tr>
				</table>
			</article>
		</div>
	</div>
	<footer>
		<a href="#" class="button special big">BROWSE!</a> 
	</footer>
</section>

<footer id="footer">
	<div class="inner">

		<h3>Get in touch</h3>

		<form action="#" method="post">

			<div class="field half first">
				<label for="name">Name</label>
				<input name="name" id="name" type="text" placeholder="Name">
			</div>
			<div class="field half">
				<label for="email">Email</label>
				<input name="email" id="email" type="email" placeholder="Email">
			</div>
			<div class="field">
				<label for="message">Message</label>
				<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
			</div>
			<ul class="actions">
				<li><input value="Send Message" class="button alt" type="submit"></li>
			</ul>
		</form>
		</div>
</footer>