<!-- 
<p> TAKE QUIZ HERE</p>

<div> JEG ELSKER QUIZ: <span>{{quiz?.quizInfo}}</span></div>
 -->

<div class="container">
  <div class="row">
    <div class="col-sm-12" style="margin: 75px"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">

      <!-- <div style="margin: 140px"></div> -->
        <div  *ngIf="loading && !showSummary" class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
          </div>

      <form class="form" *ngIf="!loading && !showSummary">

        <h2>{{currentQuestion?.question}}</h2>
        <div *ngFor="let item of getSizeofAlt(currentQuestion.answers)">
        
          <div class="inputGroup">
          <input id="option{{item}}" name="option1" type="checkbox" [(ngModel)]="checkedAnswers[item]" />
          <label for="option{{item}}">{{currentQuestion?.answers[item]}}</label>
        </div>

      </div>
        <button class="{{buttonStyle}}" (click)='nextQuestion()' style="float: right">{{nextQuestionButton}}</button>



        <!--  <h2>Radio Buttons</h2>
                <div class="inputGroup">
                  <input id="radio1" name="radio" type="radio"/>
                  <label for="radio1">Yes</label>
                </div>
                <div class="inputGroup">
                  <input id="radio2" name="radio" type="radio"/>
                  <label for="radio2">No</label>
                </div> -->

        <h3 style="visibility: hidden;"> spacing</h3>
        <h3 style="visibility: hidden;"> spacing</h3>
      </form>

      <div class="summary" *ngIf=showSummary>
        <p>You scored {{score}} points with {{correctAnswers}} correct answers and {{wrongAnswers}} wrong answers. Good job! </p>

        <button class="btn btn-success" (click)="returnToHomepage()"  style="float: right">Finish</button>

        <h3 style="visibility: hidden;"> spacing</h3>
        <h3 style="visibility: hidden;"> spacing</h3>
      </div>

    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-12"></div>
  </div>

  
</div>
